{% comment %} {% load notifications_tags %} {% endcomment %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        Cyprodev |
        {% if head %}
        {{head}}
        {% else %}
        Change Password
        {% endif %}
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
        name='viewport' />
        <style>
    @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
     .styled-font {
         font-family: 'Pacifico';
     }
    </style>
    {% include 'dashboard/stylesheets.html' %}
</head>

<body class="">
    <div class="wrapper">
        {% include 'dashboard/sidebar.html' %}
        <div class="main-panel" id="main-panel">
            <!-- Navbar -->
            {% include 'dashboard/navigation.html' %}
            <!-- End Navbar -->
            {% block graph %}
            {% endblock graph %}
            <div class="content">
                {% block body %}
                {% endblock body %}
            </div>

        </div>
    </div>
    {% include 'dashboard/scripts.html' %}

    {% block scripts %}
    <script>showData();

    </script>
    {% endblock scripts %}
</body>

</html>