{% extends 'dashboard/base.html' %}

{% block graph %}
<div class="panel-header panel-header-lg">
  <canvas id="bigDashboardChart"></canvas>
</div>
{% endblock graph %}

{% block body %}
<div class="row">
  <div class="col-lg-4">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-category">Global Sales</h5>
        <h4 class="card-title">Shipped Products</h4>
        <div class="dropdown">
          <button type="button" class="btn btn-round btn-outline-default dropdown-toggle btn-simple btn-icon no-caret"
            data-toggle="dropdown">
            <i class="now-ui-icons loader_gear"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <a class="dropdown-item text-danger" href="#">Remove Data</a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-area">
          <canvas id="lineChartExample"></canvas>
        </div>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-category">2018 Sales</h5>
        <h4 class="card-title">All products</h4>
        <div class="dropdown">
          <button type="button" class="btn btn-round btn-outline-default dropdown-toggle btn-simple btn-icon no-caret"
            data-toggle="dropdown">
            <i class="now-ui-icons loader_gear"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <a class="dropdown-item text-danger" href="#">Remove Data</a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-area">
          <canvas id="lineChartExampleWithNumbersAndGrid"></canvas>
        </div>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-category">Email Statistics</h5>
        <h4 class="card-title">24 Hours Performance</h4>
      </div>
      <div class="card-body">
        <div class="chart-area">
          <canvas id="barChartSimpleGradientsNumbers"></canvas>
        </div>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="now-ui-icons ui-2_time-alarm"></i> Last 7 days
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card  card-tasks">
      <div class="card-header ">
        <h5 class="card-category">Users Management</h5>
        <h4 class="card-title">Tasks</h4>
      </div>
      <div class="card-body ">
        <div class="table-responsive">
          <table class="table">
            <thead class="text-primary">
              <th>Task</th>
              <th>Assigned to</th>
            </thead>
            <tbody id='tasks_table'>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h5 class="card-category">All Persons List</h5>
        <h4 class="card-title">
          <div class="row">
            <div class="col-10">
              Employees Stats
            </div>
          </div>
        </h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class="text-primary">
              <th>Name</th>
              <th>Username</th>
            </thead>
            <tbody id='users_table'>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}


{% block scripts %}
<script>
  $(document).ready(function () {
    var users_url = '/api/user/';
    var task_url = '/api/tasks/';
    function getUserData(users_url) {
      $.ajax({
        url: users_url,
        method: 'GET',
        success: function (data) {
          for (var index = 0; index < data.length; index++) {
            var users = '<tr scope="row"> \
                          <td>' + data[index]['user']['first_name'] + ' ' + data[index]['user']['last_name'] + '</td> \
                          <td>'+ data[index]['user']['username'] + '</td> \
                        </tr>';
            $('#users_table').append(users);
          }

        },
        error: function () {
          console.log('error');
        },
      });
    }
    function getTaskData(task_url) {
      $.ajax({
        url: task_url,
        method: 'GET',
        success: function (data) {
          for (var index = 0; index < data.length; index++) {
            var tasks = '<tr scope="row" style="height:48px;"> \
                          <td>' + data[index]['task'] + '</td> \
                          <td>'+ data[index]['assigned_to']['first_name'] + ' ' + data[index]['assigned_to']['last_name'] + '</td> \
                        </tr>';
            $('#tasks_table').append(tasks);
          }

        },
        error: function () {
          console.log('error');
        },
      });
    }
    getUserData(users_url);
    getTaskData(task_url);
  });
</script>

{% endblock scripts %}