{% extends 'dashboard/base.html' %}

{% block graph %}
<div class="panel-header panel-header-sm">
</div>
{% endblock graph %}
{% block body %}
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-11">
                <h2 style="font-family: Pacifico;" class="m-2">{{head}} > {{sub_head}}</h2>
            </div>
        </div>
        <hr>
        <div class="card">
            <div class="card-body">
                <dl>
                    <dt>User</dt>
                    <dd>{{object.user.first_name}} {{object.user.last_name}}</dd>
                    <dt>Host</dt>
                    <dd>{{object.host}}</dd>
                    <dt>Session key</dt>
                    <dd>{{object.session_key}}</dd>
                    <dt>Login time</dt>
                    <dd>{{object.login_time}}</dd>
                    <dt>Logout time</dt>
                    <dd>{{object.logout_time}}</dd>
                </dl>
            </div>
        </div>
        <p><a href="{% url 'accounts:user_log' %}" class="text-danger">Back to List</a></p>

    </div>
</div>

{% endblock body %}